
[Desktop Entry]
Name=Go Games
Comment=Plays through games of Go from .sgf files
Exec=/usr/lib/gnome-screensaver/gnome-screensaver/gogames-screensaver.py
TryExec=/usr/lib/gnome-screensaver/gnome-screensaver/gogames-screensaver.py
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
OnlyShowIn=GNOME;

