body {
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: url("images/bg.png");
}
    
#container {
    font-family: "Helvetica,Arial,FreeSans";
    color: #ffffff;
    background-color: #000000;
    margin: 0 auto;
    padding: 2em;
    width: 700px;
}

h1, h2, h3, a {
    color: #42d56b;
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 3px;
}

h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }
h3 { text-align: center;}

.description { 
    font-size: 1.2em; 
    margin-bottom: 30px; 
    margin-top: 30px; 
    font-style: italic;
}

pre {
    background: #000; 
    color: #fff;
    padding: 15px;
    border: 1px dashed white;
}

.footer { 
    text-align:center; 
    padding-top:30px; 
    font-style: italic;
}
