body {
    margin: 0em 2em;
    background-image: url("images/bg.png");
}
    
#container {
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    padding: 2.5em;
    width: 55em;
}

h1, h2, a { color: #5ECDE5; }

h1 { 
    font-size: 3em; 
    margin: 0;
}
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }

hr {
    background-color: #5ECDE5;
    height:0.15em;
    border: 0;
}

.thumbbox {
    margin: 0;
    padding: 1.5em;
    float: right;
    clear: right;
    text-align: center;
}

.thumbbox a {
    text-decoration: none;
}

.thumbbox img { 
    border: 0.0625em solid white; 
}

.thumbbox p {
    font-size: 0.8em;
}

.description { 
    font-size: 1.2em; 
    margin-bottom: 1.8em; 
    margin-top: 1.8em; 
    font-style: italic;
}

.download {
    float: right;
    padding:0;
    margin:0;
    text-align:center;
}

.download a {
    text-decoration: None;
}

.download img {
    width: 3em;
}

.download p {
    margin: 0;
    font-size: 0.7em;
}

pre {
    background: black;
    color: lime;
    padding: 1.4em;
    font-weight: bold;
    border: 0.15em dashed white;
}

.footer { 
    text-align:center; 
    padding-top:1.8em; 
    font-style: italic;
}
