<?xml version="1.0" ?>
<config>
	<move_delay>
		5000
	</move_delay>
	<start_delay>
		2500
	</start_delay>
	<end_delay>
		10000
	</end_delay>
	<markup>
		1
	</markup>
	<annotations>
		1
	</annotations>
	<sgf_folder>
		\usr\share\gogames-screensaver\sgf
	</sgf_folder>
	<source>
		file
	</source>
</config>
